.bagroundimage {
  background-image: url(../asserts/images/bagroundHomeimage.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.containerarea {
  min-height: 80vh;
  width: 80vw !important;
  padding: 40px;
}

.countBox {
  height: 50px;
  width: 50px;
}

.section {
  max-height: 180px;
}

.oblique-text {
  font-style: oblique;
}

.export {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.contentbox {
  height: 150px !important;
}